:root {
  --gray: #9ba1a6;
  --cardBg: #212525;
  --pageBg: #141618;
  --primary: #9e8cfc;
  --light-primary: #32275e;

  --green: rgb(3, 166, 109);
  --red: rgb(207, 48, 74);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: #fff;
  background-color: var(--pageBg);
  -webkit-font-smoothing: antialiased;
  padding: 0;
  margin: 0;
  background-image: url("/lines.svg");
  background-position: center;
  line-height: 1.5;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  padding: 2rem 7rem 2rem 7rem;
  max-width: 1500px;
  margin: 0 auto;

  @media (max-width: 992px) {
    padding: 2rem;
  }
}

button {
  padding: 0.8rem 2rem;
  font-weight: 700;
  background-color: var(--light-primary);
  border-radius: 6px;
  color: var(--primary);
  border: none;
  font-size: 16px;
  cursor: pointer;

  &:disabled {
    cursor: default;
    opacity: 0.5;
  }
}

input {
  background-color: var(--cardBg);
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  color: #fff;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  -moz-appearance: textfield;
}
